
/* CSS for All */

/* named colores */
:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --yellow:#ffe70f;
    
}
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 80%;
    height: 15%;
    margin: 0 auto;
    padding: 1%;
}
.container2{
    width: 80%;
    height: 4%;
    margin: 0 auto;
    padding: 0.5%;
}
.img-logo{
    width: 60%;
    float: left;
    height: 3%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #1f1e1f;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #29dc0e;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.error{
    padding: 2%;
    color: red;
}
.success{
    padding: 2%;
    color: green;
}


/* CSSS for navbar section */

.logo{
    width: 10%;
    float: left;
    color:var(--black);
    font-size: 1rem;
    font-weight: bolder;
    height: 4%;
}
.menu{
    line-height: 30px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}
.navbar{
    height: 5%;
    position: relative;
}


/* CSS for Food SEarch Section */

.food-search{
    background-color:var(--light-color) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1% 0;
    height: 5%;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
}


/* CSS for Categories */
.categories{
    padding: 2% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 2% 0;
    display: flex;
    flex-direction: column;

  
    

}
.food-menu-box{
    width: 31%;
    margin: 1%;
    padding: 2%;
    float: left;
    
    background-color: white;
    border-radius: 15px;
    
   
    height: 20%;
    
}
.foods{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.food-menu-img{
    width: 40%;
    float: left;
    height: 30%;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 5%;
}

.food-price{
    font-size: 1rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}




/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 2%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}
/* css for contact page*/
.input input,
 textarea{
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1rem;
    color:var(--black);
    text-transform: none;
    margin-bottom: 0.5rem;
    width:100%;
    border: none;
}
.btnr{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.2rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}
.review form{
    max-width:70rem;
    border-radius: .1rem;
    box-shadow: var(--box-shadow);
    
    background:#fff;
    padding:1.5rem;
    margin:0 auto;
}
.review{
    align-self: center;
    align-items: center;
    align-content: center;
    position: relative;
    height: 30%;
    /* left: 20%; */

}
.review label{
font-size: 1rem;

padding:.5rem 0;

color:var(--light-color);
}
.review .input{
     background:#eee;
    border-radius: .5rem;
    border: none;
    padding:1rem;
    font-size: 1rem;
    color:var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width:100%;

}
.review .reviewIntro{
    position: relative;
    text-align: center;
    font-size: 1rem;
    color: #666;
    
}




/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 15%;
        float: none;
        margin: 1% auto;
        height: 5%;
    }
    .img-logo{
    width: 20%;
    float: left;
    height: 5%;
}

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 50%;
        padding: 1%;
        margin-bottom: 1%;
    }

    .btn{
        width: 10%;
        padding: 1%;
    }

    .food-search{
        padding: 1% 0;
        height: 4%;
    }

    .categories{
        padding: 2% 0;
    }
    h2{
        margin-bottom: 2%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 2% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 2%;
    }
    .social{
        padding: 2% 0;
    }
    .order{
        width: 100%;
    }
    
}
